@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('../SEGA.woff') format('woff');
    }

h1 {
    font-family: 'SEGA LOGO FONT', sans-serif;
    font-weight: 200;
    color: aquamarine;
}

body {
    background: linear-gradient(to right, rgb(114, 154, 207), rgb(126, 184, 101));
}